.posts {
    margin: 30px 0;
    border-radius: 10px;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    gap: 20px;
    border: 1px solid red;

}

.posts__card {
    border: 1px solid white;
    // height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    &-owner {
        height: 140px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        // border: 1px solid red;
    }

    &-picture {
        width: 100%;
        height: inherit;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    &-about {
        position: relative;
        // border: 1px solid red;
        top: -140px;
        padding: 0 5px;
        color: #fff;
        font-weight: bold;
    }

    &-author-cover {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    &-author {}

    &-ellipsis {
        cursor: pointer;
    }

    &-time {
        font-size: 12px;
    }

    &-content {
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px 15px;
    }

    &-tags {
        margin: 10px 0;
    }

    &-text {
        margin: 15px 0;
    }

    &-decision {
        display: flex;
        justify-content: space-between;
    }
}