.form {
    padding: 20px;
    background: #eee;
    width: 350px;
    height: fit-content;
    // height: 700px;
    position: sticky;
    top: 100px;
    border-radius: 5px;
    border: 2px solid blue;
    grid-column: 4;


    &__title-tag {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 5px;
        background: #eee;
        outline: 0;
        border: 1px solid #ccc;
    }

    &__creator, &__title, &__message, &__tags, &__file, &__submit {
        margin-bottom: 10px;
    }

    &__message {
        border: 1px solid red;
        padding: 0;
    }

    .character {
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        position: relative;
        bottom: 35px;
        left: 275px;
        font-size: 10px;
    }

    &__submission {
        margin-top: 10px;
    }

    &__submit, &__cancel {
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;
        color: #eee;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    &__submit {
        background: blue;
        border: 1px solid blue;
    }

    &__cancel {
        background: tomato;
        border: 1px solid tomato;
    }
}