.auth {
    color: blue;
    background: #fff;
    width: 500px;
    margin: auto;
    margin-top: 7.5em;
    text-align: center;
    padding: 20px;

    .form {
        width: 100%;
        margin: 20px 0;
    
        &__names {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    
        &__submit {
            background-color: brown;
            color: #fff;
        }
    }

    &-switch-in, &-sign-up {
        cursor: pointer;
        font-weight: 700;
        color: blue;
    }
}
