.no-form-post {
    flex: 1;
    color: #2f174d;
    height: 100px;
    width: 200px;
    background: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 20px 0px 5px 20px;
}

.form__container {
    flex: 1;
    border: 1px solid red;
}

.form {
    border: 1px solid red;
    padding: 20px;
    background: #eee;
    width: 350px;
    height: fit-content;
    // position: sticky;
    // top: 100px;
    border-radius: 5px;
    grid-column: 4;


    &__title-tag {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 5px;
        background: #eee;
        outline: 0;
        border: 1px solid #ccc;
    }

    &__creator, &__title, &__tags, &__file {
        margin-bottom: 10px;
    }

    &__message {
        padding: 0;
    }

    .character {
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        position: relative;
        bottom: 35px;
        left: 275px;
        font-size: 10px;
    }

    &__submission {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__submit, &__cancel {
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        color: #eee;
        width: 70px;
    }
    
    &__submit {
        background: blue;
        border: 1px solid blue;
    }

    &__cancel {
        background: tomato;
        border: 1px solid tomato;
    }
}