.Menubar {
    background-color: #ddd;
    border-radius: 5px;
    color: rgb(13, 13, 138);
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 24px;
        
        & > * {
            // border: 1px solid blue;
        }
    }
    
    &__icon {
        cursor: pointer;

    }
}