.pagination-render {
    display: flex;
    list-style-type: none;
    width: 350px;
    justify-content: space-between;
    background: #fff;
    padding: 3px 10px;
    border-radius: 5px;
}

.page-number {
    cursor: pointer;
    color: #000;
    padding: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
    border-radius: 100%;
}

button {
    border: none;
}